@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');

*{
    font-family: Arial;
}

.heading{
    font-family: 'Satisfy', cursive;
    margin-top:50px;
    text-align: center;
    margin-bottom: 0px;
    color: #c13584;
}

.slogan{
    font-size: 14px;
    text-align: center;
    color: #aaa;
    margin-bottom: 60px;
}

.download-wrapper{
    text-align: center;
}

.url-input, .download-button{
    font-size:1.3em;
    padding:5px 10px;
}

.url-input{
    border-radius:4px 0px 0px 4px;
    min-width:500px;
    text-align: left;
    border:2px solid #EEEEEE;
    background: #EEEEEE;
    outline:none;
}

.url-input:focus{
    border:2px solid #833ab4;
}

.download-button{
    border-radius:0px 4px 4px 0px;
    border:2px solid #833ab4;
    background: #833ab4;
    color:white;
    margin-left: -4px;
}

.download-button:hover{
    cursor: pointer;
}

.info-wrapper{
    min-width: 650px;
    margin:0 auto;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.info-wrapper p{
    font-size: 16px;
    color: #aaa;
}